/*-----------------------------------------------------------------------------------*/
/* Window
/*-----------------------------------------------------------------------------------*/
 
.window {
  margin: 0px auto 30px auto;
  background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #EDEDED, #EDEDED 23px);
  background: -moz-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #EDEDED, #EDEDED 23px);
  border-radius: 5px;
  box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 50px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  text-align: left;
  z-index:0;
  visibility:hidden;
  opacity:0;
  visibility:visible;
  opacity:1;
}
 
.container {
  border-radius: 5px;
}
 
h1.titleInside {
  margin: 0px;
  position:relative;
  z-index:2;
  color:#3c3c3c;
  font-size:13px;
  line-height:21px;
  text-decoration:none;
  text-shadow: 0 1px 1px #e7e7e7;
  text-align:center;
  text-transform:capitalize;
}
 
nav.control-window {
  float: left;
  padding: 2px 0px 0px 10px;
  left:5px;
  top:3px;
  z-index:10;
  height:19px;
}
 
nav.control-window a {
  display: inline-block;
  margin: 2px 0px 3px 1px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  box-shadow: 0px 1px 0px rgba(255,255,255,.5);
  text-indent: -9999px;
  position: relative;
}
nav.control-window a:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100%;
  box-shadow:inset 0 1px 4px rgba(0, 0, 0, .8);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
nav.control-window a:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  border-radius: 100%;
  background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
  background: -moz-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
  box-shadow: inset 0px -3px -5px 3px rgba(255, 255, 255, 0.2), inset 0px 2px -5px 3px rgba(255, 255, 255, 0.2);
}
nav.control-window a.close {
  background: #FD4E4E;
}
nav.control-window a.minimize {
  background: #F3BB55;
}
nav.control-window a.maximize {
  background: #96D16F;
}
nav.control-window a.deactivate {
  background: #b5b5b5;
}
 
/*-----------------------------------------------------------------------------------*/
/* Terminal Console Layout
/*-----------------------------------------------------------------------------------*/
 
.terminal {
  background: #333;
  color: #DDD;
  white-space: pre-line;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 5px;
  width: 100%;
}
 
.terminal table {
  margin-left: 10px;
  margin-right: 10px;
}
 
div.terminal td {
  vertical-align: top;
}
 
div.terminal pre {
  background: none;
  border: none;
  padding-left: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
 
div.terminal pre span {
  display: block;
}
 
div.terminal {
  overflow-x: auto;
  overflow-y: hidden;
}
 
div.terminal pre.line-numbers span {
  display: inline;
}
 
div.terminal span.command { color: #FFF; }
div.terminal span.output { color: #BBB; }

/* terminal css from http://www.codechewing.com/library/mac-terminal-shell-css-html/ */

.shell-wrap {
  width: 500px;
  margin: 30px auto 30px auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
 
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
.shell-top-bar {
  text-align: center;
  color: #525252;
  padding: 5px 0;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
  font-size: 0.85em;
  border: 1px solid #CCCCCC;
  border-bottom: none;
 
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
 
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #B8B8B8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#B8B8B8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f7f7f7 0%,#B8B8B8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}
 
.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8em 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.6em;
 
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
 
.shell-body li:before {
  content: '$';
  position: absolute;
  left: 0;
  top: 0;
}
 
.shell-body li {
  word-wrap: break-word;
  position: relative;
  padding: 0 0 0 15px;
}
